<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Lista de Clientes</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        /* Adicione estilos personalizados aqui, se necessário */
    </style>
</head>
<body>
<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" th:href="@{/}">Green Dog</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" href="#">Lista de Clientes</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">H2-Console</a>
        </li>
      </ul>
    </div>
  </nav>


<div class="container">
    <h1>Lista de Pedidos</h1>
    <a th:href="@{/pedidos/novo}" class="btn btn-primary mb-3">Novo Pedido</a>
    <table class="table">
        <thead>
        <tr>
            <th>ID</th>
            <th>Cliente</th>
            <th>Itens</th>
            <th>Valor total</th>      
            <th>Data</th>      
            <th>Opções</th>
        </tr>
        </thead>
        <tbody>
          <tr th:if="${pedidos.empty}">
            <td>Sem pedidos</td>
          </tr>
        <tr th:each="pedido : ${pedidos}">
            <td th:text="${pedido.id}"></td>
            <td th:text="${pedido.cliente.nome}"></td>
            <td>
              <ul>
                  <li th:each="item : ${pedido.itens}" th:text="${item.nome}"></li>
              </ul>
          </td>
            <td th:text="${pedido.valorTotal}"></td>
            <td th:text="${#dates.format(pedido.data, 'dd-MM-yyyy')}"></td>
            <td>
              <a th:href="@{/pedidos/{id}/editar(id=${pedido.id})}">Editar</a>
              <a type="submit" th:href="@{'/pedidos/excluir/'+${pedido.id}}">Excluir</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    
</body>
</html>
